<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDLNvwmhztoJ98s6FzO47fFopauiXD1F0k" type="text/javascript"></script>
    <script src="/javascripts/jquery.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/sk_SK/sdk.js#xfbml=1&version=v2.7&appId=839935646128447";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <div id="map" style=""></div>
    <div id="credits">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h3>Made with <3 by Po1nt</h3>
          </div>
          <div class="col-sm-1">
            <a href="http://citronweb.sk">
              <img src="http://citronweb.sk/img/logo.svg" alt="Logo Citronweb" class="img-responsive">
            </a>
          </div>
          <div class="col-sm-3 text-center"><div class="fb-share-button" data-href="https://pokeslava.sk" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpokeslava.sk%2F&amp;src=sdkpreparse">Zdieľať</a></div></div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var map = null;
      function initialize_map() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: new google.maps.LatLng(48.145359, 17.1060393),
          zoom: 15,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          zoomControl: true,
          mapTypeControl: true,
          scaleControl: true,
          streetViewControl: true,
          rotateControl: true,
          fullscreenControl: true
        });
      }

      function addMarkersForPokemons(pokemons) {
        for(var i in pokemons) {
          pokemons[i].marker = new google.maps.Marker({
            position: {
              lat: pokemons[i].latitude,
              lng: pokemons[i].longitude
            },
            map: map,
            icon: '/images/' + pokemons[i].type + '.png'
          });
        }
      }

      function fetchData(callback) {
        $.get('/pokemons', {}, callback);
      }

      var pokemons = {};

      function reload() {
        fetchData(function(data) {
          for(var i in pokemons) {
            pokemons[i].marker.setMap(null);
          }
          pokemons = data;
          addMarkersForPokemons(pokemons);
          setTimeout(reload, 10000);
        });
      }

      $(document).ready(function() {
        initialize_map();

        reload();
      });
    </script>
  </body>
</html>
